@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng Nhập";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-container">
    <h1>Đăng Nhập</h1>

        <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-group">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" id="email" placeholder="Nhập email của bạn">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label asp-for="Input.Password">Mật khẩu</label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" id="password" placeholder="Nhập mật khẩu của bạn" required>
        </div>
        <div class="action-group">
            <button type="submit" class="btn-submit">Đăng Nhập</button>
        </div>
        </form>
        <div class="extra-actions">
        <p>Quên mật khẩu? <a href="/Identity/Account/ForgotPassword">Khôi phục</a></p>
        <p>Bạn chưa có tài khoản? <a href="/Identity/Account/Register" id="register-link">Đăng ký</a></p>
        </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
