/* Định dạng chung cho các màn hình */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #0D1A2F;
    color: #333;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0D1A2F;
    color: #ffeea8;
}

    .header-container h1 {
        font-family: "Sofadi One", system-ui;
        font-size: 3em;
    }

    .header-container nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

        .header-container nav ul li {
            display: inline;
        }

            .header-container nav ul li a {
                color: #ffeea8;
                text-decoration: none;
                font-family: "Lora", serif;
                font-weight: bold;
            }

                .header-container nav ul li a:hover {
                    color: #f1c40f;
                }

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.change-password-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(160deg, #11233f, #442656, #c17ca0);
    padding: 15px;
    padding-bottom: 30px;
    ;
    border-radius: 8px;
}

    .change-password-section h2 {
        margin-bottom: 10px;
        color: #ffeea8;
        font-family: "Playwrite DE Grund", cursive;
    }

    .change-password-section form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .change-password-section label {
        font-family: "Lora", serif;
        color: white;
        font-size: 16px;
    }

    .change-password-section input {
        padding: 10px;
        font-family: "Lora", serif;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .change-password-section input:focus {
            border-color: #3259cc;
            outline: none;
        }

button {
    width: 200px;
    padding: 20px 20px;
    margin-top: 20px;
    align-items: center;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 1em;
    background: linear-gradient(135deg, #fffde8, #ffe2ed, #cffffd);
    color: #0D1A2F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background: linear-gradient(135deg, #8066c7, #c56f6f, #ebc471);
        color: #ebedff;
    }
